<html>
  <body>
    <section id="main">
      <h1 id="title">{{ .Title }}</h1>
      <div>
        <article id="content">
          {{ .Content }}

          <h2>Data files</h2>
          <ul>
          {{ range .Site.Data }}
          <li>name = {{ .name }}, parent = {{ .parent }}</li>
          {{ end }}
          </ul>

          <h2>Test Scratch with slice</h2>

          <p>index -- element</p>
          {{ .Scratch.Add "greetings" (slice "Hello") }}
          {{ .Scratch.Add "greetings" (slice "Goodbye") }}
          {{ .Scratch.Add "greetings" (slice "Aloha" "Buenos dias") }}
          <ol>
          {{ range $ind, $elt := .Scratch.Get "greetings" }}
            <li>
              {{ $ind }} -- {{ $elt }}
            </li>
          {{ end }}
          </ol>

          <p>Aloah in slice? {{ in (.Scratch.Get "greetings") "Aloha" }}</p>

          <h2>Test Scratch.SetInMap</h2>
          {{ .Scratch.SetInMap "newGreetings" "english" "Hello" }}
          {{ .Scratch.SetInMap "newGreetings" "french" "Bonjour" }}
          <p>Test Scrach with index: {{ index (.Scratch.Get "newGreetings") "english" }}</p>

          <h2>Test string concat</h2>
          <p><code>print "foo" "bar"</code>: {{ print "foo" "bar" }}</p>
          <p>Test string concat in variables: {{ $myconcat := (print "foo" "bar")}}{{ print $myconcat }}</p>
          <p>Map values to string delimited by whitespace: {{ delimit (.Scratch.GetSortedMapValues "newGreetings") " " }}</p>

          <h2>Test RegEx conditional</h2>
          {{ $mystr := "fas fa-home" }}
          {{ $mypat := "fa[rsb]( fa-(.*))+" }}
          <p>{{ $mystr }} {{ cond (gt (len (findRE $mypat $mystr)) 0) "matched" "not matched" }} {{ $mypat }}</p>
          <p>Powered by whatever layout</p>
        </article>

        {{ if .Params.myvar }}
        {{ (.Resources.GetMatch "*.html").Content | safeHTML }}
        {{ end }}
      </div>
    </section>
    <footer>
      <a href="{{ "" | absURL }}">Home</a>
    </footer>
  </body>
</html>
