<html>
  <body>
    <section id="main">
      <h1 id="title">{{ .Title }}</h1>
      <div>
        <article id="content">
          {{ .Content }}
        </article>
        {{ if .Params.myvar }}
        {{ (.Resources.GetMatch "*.html").Content | safeHTML }}
        {{ end }}
      </div>
    </section>
    <footer>
      <a href="{{ "" | absURL }}">Home</a>
    </footer>
  </body>
</html>
